.App {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid black;
  /* margin-left: 100px; */
}

.customer-list {
  flex: 1;
}

.customer-card {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.customer-card.selected {
  background-color: #f0f0f0;
}

.customer-details {
  flex: 2;
  margin-left: 50px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* .photo-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

h1{
  text-align: center;
}